:root {
    --super-dark-green: #004225;
	--dark-green: #125C13;
	--medium-green: #3E7C17;
	--light-green: #A7D397;
    --super-light-green: #CEDEBD;
	--teal: #245953;
	--gray: #DDDDDD;
	--light-gray: #F0F0F0;
    --dark-gray: #555843;
	--black: #000000;
	--red: #D50511;
}