:root {
    --super-dark-blue: #053B50;
	--dark-blue: #164863;
	--medium-blue: #427D9D;
	--light-blue: #8BBCCC;
    --super-light-blue: #DDF2FD;
	--gray: #DDDDDD;
	--light-gray: #F0F0F0;
    --dark-gray: #555843;
	--black: #000000;
	--red: #D50511;
}