@import url("./colors.css");

@import url("./scrollbar.css");

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@import
	url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sora:wght@200;300;500;700&display=swap')
	;

body {
	overflow-x: hidden;
	max-height: 100%;
	max-width: 100%;
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
}